<div class="row">
  <section class="main col-md-9">
      <article>
            <h2>About</h2>
            <h2>About</h2>
		<p>Hello, my name is Aryan and I aspire to be a social media influencer. I'm passionate about vloging and I believe that social media is a powerful tool to share my knowledge and connect with people who share the same interests as me. I have already started building my online presence by creating profiles on major social media platforms like Instagram, Facebook, Twitter, and YouTube. My goal is to create high-quality content that is visually appealing, informative, and engaging, and to build a loyal fanbase by responding to comments and messages from my followers. I'm also open to collaborating with other influencers in my niche to reach a wider audience and build my credibility. I'm excited to embark on this journey and can't wait to see where it takes me!</p>
		<p>A career oriented individual seeking to grow in a competitive and professional space. As a student looking for motivating roles to develop interactive skills and cater to the requirements of the team. 
     </p>
         <p>I am currently studying in seneca college and pursuing Computer programming</p>
         <p>I have keen interest in javascript and i do it in my leisure time."</p>
            </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
  </aside>
</div>